body {
    background: #E1E7EB;
}

.container-fluid {
    display: block;
    margin: auto;
    max-width: 750px;
}

.navbar {
    height: 8em;
    background: #EDF2F4;
    border-bottom: 1px solid #949A9D;
    
}

.navbar-brand {
    width: 30em;
}

#navLogo {
    width: 3.5em;
    margin: 0;
}

#brand {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
    color: #58D3F7;
    -webkit-text-stroke: 1px #D0A9F5;
    text-shadow: 3px 2px 0 #D0A9F5;
    z-index: 5;
}

.menu {
    font-size: 1.5em;
    margin-top: 1.5em;
    font-family: 'Raleway', sans-serif;
    
}

main {
    display: block;
    margin: 2em auto;
    max-width: 700px;
}

.mainPhoto {
    height: 16em;
}

h2 {
    width: 3.5em;
}

.col-md-3 {
    position: relative;
    margin-bottom: 20px;
    padding: 0px;
}

.name {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 1em;
    font-size: 2.5em;
    font-weight: 600;
    font-family: 'Slabo 27px', serif;
    color: #58D3F7;
    -webkit-text-stroke: 1px #D0A9F5;
    //background: ;
}
